/.direnv
/.vscode
/.yarn
/.yarnrc.yml
/.github
/build/bin.d.ts
/dist
/doc
/node_modules
/site
/src
/test
.envrc
.pnp*
biome.json
CLAUDE.md
bun.lock
deno.json
flake.lock
flake.nix
qrilljs-*.tgz
package.tgz
tsconfig.json
tsup.config.ts
tsup.debug.config.ts
yarn.lock
